@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Food frensy</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Kin Khaw Mai</a>.</p>
</div>
